.wrapper
 = render 'shared/side_bar'
 .chat
  .header
   .left-header
    .left-header__title
     グループ
    .left-header__members
     メッセージ
   .right-header
    .right-header__button
     Edit

  .messages
   = render @messages

 
  .form
   = form_for [@group, @message] do |f|
    = f.text_field :content, class: 'form__message', placeholder: 'type a message'
    .form__mask
     = f.label :image, class: 'form__mask__image' do
      = fa_icon 'picture-o', class: 'icon'
      = f.file_field :image, class: 'hidden'
    = f.submit 'Send', class: 'form__submit'










 -# メッセージ送信機能の導入
  -# .chat-main__form
  -#  .chat-main__form__new_message
  -#   .chat-main__form__new_message__input-box
  -#    .chat-main__form__new_message__input-box__text
  -#    .chat-main__form__new_message__input-box__image
  -#     =fa_icon "image"
  -#   .chat-main__form__new_message__submit-btn
  -#    Send

